
{{- if eq .chezmoi.os "linux" -}}

{{- $nushell_version := .packages.nushell.version }}
{{- $nushell_version := .packages.nushell.version -}}
[".local/bin/nu"]
    type = "archive"
    url = https://github.com/nushell/nushell/releases/download/{{ $nushell_version }}/nu-{{ $nushell_version }}-x86_64-unknown-linux-gnu.tar.gz
    stripComponents=1
    exclude = ["LICENSE","README.txt"]

{{ $age_version := .packages.age.version }}
[".local/bin/age"]
    type = "archive"    
    url = "https://github.com/FiloSottile/age/releases/download/v{{ $age_version }}/age-v{{ $age_version }}-linux-amd64.tar.gz"
    stripComponents = 1
    include = ["age/age","age/age-keygen"]

{{ $starship_version := .packages.starship.version }}
[".local/bin/starship"]
    type = "archive-file" 
    url = "https://github.com/starship/starship/releases/download/v{{ $starship_version }}/starship-x86_64-unknown-linux-gnu.tar.gz"
    path = "starship"

{{ $mkcert_version := .packages.mkcert.version }}
[".local/bin/mkcert"]
    type = "file"    
    url = "https://github.com/FiloSottile/mkcert/releases/download/v{{$mkcert_version}}/mkcert-v{{$mkcert_version}}-linux-amd64"

{{- $sops_version := .packages.sops.version }}
[".local/bin/sops"]
    type = "file"  
    url = "https://github.com/getsops/sops/releases/download/v{{$sops_version}}/sops-v{{$sops_version}}.linux.amd64"

{{- end -}}