{{ $starship_version := .packages.starship.version }}
{{- if eq .chezmoi.os "linux" -}}
{{- if eq .chezmoi.osRelease.id "alpine" -}}
[".local/bin"]
    type = "archive" 
    url = "https://github.com/starship/starship/releases/download/v{{ $starship_version }}/starship-x86_64-unknown-linux-musl.tar.gz"
{{ else }}
[".local/bin"]
    type = "archive" 
    url = "https://github.com/starship/starship/releases/download/v{{ $starship_version }}/starship-x86_64-unknown-linux-gnu.tar.gz"
{{ end }}
{{ else if eq .chezmoi.os "windows" }}
[".local/bin"]
    type = "archive" 
    url = "https://github.com/starship/starship/releases/download/v{{ $starship_version }}/starship-x86_64-pc-windows-msvc.zip"
{{ end }}