encryption = "age"

{{- $age_identity_path := includeTemplate "age_identity" . | trim }}
[age]
    identity = {{ $age_identity_path | quote }}
    recipients = [
      "age139tak66akncp4xddr9snd6f6gqq6t056hkjcn604uvyklte28acsqcyncs",
      "age1uj4hw4smpe8h49yc8l3lkpxga0upx9a5380mky32uz5qlatcdyaq9xzqms"
    ]

[cd]
    command = "nu"

[interpreters.ps1]
  command = {{ includeTemplate "interpreters_ps1_command" . | trim | quote }}
  args = ["-NoProfile", "-ExecutionPolicy", "Bypass" ]

[data]
  is_wsl = {{ includeTemplate "is_wsl" . | trim }}
  age = {{ stat $age_identity_path | not | not }}
  is_docker = {{ includeTemplate "is_docker" . | trim }}
  is_win = {{ eq .chezmoi.os "windows" | not | not }}
  is_linux = {{ eq .chezmoi.os "linux" | not | not }}
  is_win_sandbox = {{ includeTemplate "is_windows_sandbox" . | trim }}
