{{- $isWsl := and (eq .chezmoi.os "linux") (contains "microsoft" (lower .chezmoi.kernel.osrelease)) -}}
{{- $isDocker := stat "/.dockerenv" | not | not -}}
{{- $chezmoi_age_file := "~/.config/age/chezmoi.txt" -}}
{{- $wslHomedir := "" -}}
{{- if $isWsl -}}
{{- $wslHomedir = (output "bash" "-c" "wslpath \"$(powershell.exe -NoProfile -Command 'Write-Host $env:USERPROFILE' | tr -d '\\r')\"" | trim) -}}
{{- end -}}

encryption = "age"

[age]
{{- if not .wsl }}
    identity = "{{ $chezmoi_age_file }}"
{{- else }}
    identity = {{ printf "%s/.config/age/chezmoi.txt" $wslHomedir | quote }}
{{- end }}
    recipients = [
      "age139tak66akncp4xddr9snd6f6gqq6t056hkjcn604uvyklte28acsqcyncs",
      "age1uj4hw4smpe8h49yc8l3lkpxga0upx9a5380mky32uz5qlatcdyaq9xzqms"
    ]

[cd]
    command = "nu"

[interpreters.ps1]
{{- if not (lookPath "pwsh") }}
  command = "powershell"
{{- else }}
  command = "pwsh"
{{- end }}
  args = ["-NoProfile", "-ExecutionPolicy", "Bypass" ]

[data]
  wsl = {{ $isWsl }}
  age = {{ stat $chezmoi_age_file | not | not }}
  docker = {{ $isDocker }}
