[core]
	excludesFile = {{ joinPath .chezmoi.homeDir ".gitignore" | quote }}
	autocrlf = input
	eol = lf

[user]
	name = {{ .git.name }}
	{{- $git := eq .mode "work" | ternary .git.work .git.home }}
	email = {{ $git.email }}
	signingkey = {{ joinPath .chezmoi.homeDir ".ssh" $git.signingkey | quote  }}

[init]
	defaultBranch = main
[safe]
	directory = *

