$env.config.show_banner = false
$env.config.buffer_editor = "nvim"

{{- $local := joinPath .chezmoi.homeDir ".local" }}
$env.CAROOT = {{ joinPath $local "share" "mkcert" | quote }}


mkdir ($nu.data-dir | path join "vendor/autoload")
starship init nu | save -f ($nu.data-dir | path join "vendor/autoload/starship.nu")
zoxide init nushell | save -f ($nu.data-dir | path join "vendor/autoload/zoxide.nu")
carapace _carapace nushell | save -f ($nu.data-dir | path join "vendor/autoload/carapace.nu")

