{{- $ssh_dir := joinPath .chezmoi.homeDir ".ssh" -}}

Host github.com
    User git
    IdentityFile {{ joinPath $ssh_dir "tkvw.github.com.git" | quote }}
    IdentitiesOnly yes

# Work
Host github-work
  HostName github.com
  User git
  IdentityFile {{ joinPath $ssh_dir "asdennie.github.com.git" | quote }}
  IdentitiesOnly yes


{{- if eq .profile "home" }}
Host ssh.delaserfrezer.com
  Port 18765
  User u8-3ugfsadqhn9m
  IdentityFile {{ joinPath $ssh_dir "ssh.delaserfrezer.com.ssh" | quote }}
{{- end }}