{{- $install_msvc_buildtools := true -}}
# Msvc is required for rust
{{ if $install_msvc_buildtools }}
winget install Microsoft.VisualStudio.2022.BuildTools --override "--passive --wait --add Microsoft.VisualStudio.Component.VC.Tools.x86.x64 --add Microsoft.VisualStudio.Component.Windows11SDK.22621"
{{- end }}

