[tools]
"aqua:nushell/nushell" = "latest"
bat = "latest"
bitwarden = "latest"
bottom = "latest"
carapace = "latest"
chezmoi = "latest"
dotnet = "10.0.103"
fd = "latest"
fzf = "latest"
jj = "latest"
jq = "latest"
mkcert = "latest"
neovim = "latest"
node = "latest"
pnpm = "latest"
ripgrep = "latest"
rust = "latest"
sops = "latest"
starship = "latest"
tree-sitter = "latest"
zoxide = "latest"
"cargo:starship-jj" = "latest"


[env]
MY_VAR = '123'
JJ_CONFIG = "{{ .chezmoi.homeDir }}/.config/jj"
SOPS_AGE_KEY_FILE = "~/.config/age/sops.txt"
