{{ if .is_win }}

  [".local/bin/jj.exe"]
      type = "archive-file"
      url = {{ gitHubLatestReleaseAssetURL "jj-vcs/jj" "jj-*x86_64-pc-windows-msvc.zip" | quote}}
      path = "jj.exe"
      executable = true

{{ else if .is_linux }}
  [".local/bin/jj"]
      type = "archive-file"
      url = {{ gitHubLatestReleaseAssetURL "jj-vcs/jj" "jj-*x86_64-unknown-linux-musl.tar.gz" | quote }}
      executable = true
      stripComponents = 2
      
{{ end }}
