
{{ if .is_win }}

  [".local/bin/mise.exe"]
      type = "archive-file"
      url = {{ gitHubLatestReleaseAssetURL "jdx/mise" "mise-*windows-x64.zip" | quote}}
      path = "mise/bin/mise.exe"
      executable = true
  [".local/bin/mise-shim.exe"]
      type = "archive-file"
      url = {{ gitHubLatestReleaseAssetURL "jdx/mise" "mise-*windows-x64.zip" | quote}}
      path = "mise/bin/mise-shim.exe"
      executable = true

{{ else if .is_linux }}
   [".local/bin/mise"]
      type = "archive-file"
      url = {{ gitHubLatestReleaseAssetURL "jdx/mise" "mise-*linux-x64.tar.gz" | quote}}
      path = "mise/bin/mise"
      executable = true
      stripComponents = 1
{{ end }}
