{
  "attribution": {
    "commit": "",
    "pr": ""
  },
  "statusLine": {
    "type": "command",
    "command": "npx -y ccstatusline@latest",
    "padding": 0
  },
  "enabledPlugins": {
    "typescript-lsp@claude-plugins-official": true,
    "svelte@svelte": false,
    "csharp-lsp@claude-plugins-official": true,
    "lua-lsp@claude-plugins-official": true
  },
  "promptSuggestionEnabled": false,
  "permissions": {
    "defaultMode": "plan"
  },
  {{- if .is_docker }}
  "skipDangerousModePermissionPrompt": true
  {{- end }}
}
