#[working-copy]
#eof-conversion = "input"

[user]
name = "Dennie de Lange"
email = "621098+tkvw@users.noreply.github.com"

[signing]
behavior = "own"
backend = "ssh"
key = {{ includeTemplate "signing_key_tkvw_pub" | quote  }}

{{- if .is_win }}
[signing.backends.ssh]
program = "C:/Program Files/OpenSSH/ssh-keygen.exe"
{{- end }}

